{# templates/compras.html #}
{% extends "_base.html" %}

{% block conteudo %}
Página de compras

<h3>Adicionar item</h3>
<form action="compras_adc.php" method="post">
    <input type="text" name="item" placeholder="Escreva o nome do item">

    <input type="submit" value="Adicionar">
</form>

<h3>Minha lista de compras</h3>
<ul>
    {% for compra in compras %}
        <li>
            {{ compra.item }}
            |
            <a href="compras_editar.php?id={{ compra.id }}">Editar</a>
            |
            <a href="compras_apagar.php?id={{ compra.id }}">X</a>
        </li>
    {% endfor %}
</ul>

{% endblock %}